/* CSS declarations go here */

body {
  margin: 0;
  padding: 0;
}

.overlay .right_panel {
  position: absolute;
  display: block;
  right: 0;

  background: red;
}

.overlay .right_panel .button {
  width: 120px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  margin: 5px;  
  background: blue;
}

.overlay .right_panel .button:hover {
  background: #0000DD;
  cursor: pointer;
}

.overlay .left_panel {
  position: absolute;
  display: block;
  left: 0;
  padding: 5px;

  background: yellow;
}

.overlay .left_panel .selected_object.title {
  font-size: 18px;
  font-weight: bold;
}

.overlay .left_panel li {
  font-size: 10px;
  color: gray;
}

.overlay .left_panel .region_object.title {
  position: absolute;
  display: block;
}

.notification_list {
  position: absolute;
  display: block;
  right: 0;
  bottom: 0;
  padding: 5px;
  background: green;
}

.notification_list .notification {
  
}

.notification_list .notification .title {
  font-size: 14px;
  font-weight: bold;
}
.notification_list .notification .text {
  font-size: 14px;
}

.debug_info {
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  background: yellow;
}

.debug_info .title {
  font-size: 14px;
  font-weight: bold;
}

.debug_info .text {
  font-size: 14px;
}