/* CSS declarations go here */

body {
  margin: 0;
  padding: 0;
}

.overlay .right_panel {
  position: absolute;
  display: block;
  right: 0;
  height: 500px;
  width: 150px;

  background: red;
}

.overlay .right_panel .button {
  width: 100px;
  height: 100px;
  border: 1px solid black;
  border-radius: 15px;
  
  background: blue;
}

.overlay .right_panel .button:hover {
  background: #0000DD;
}

.overlay .left_panel {
  position: absolute;
  display: block;
  left: 0;
  height: 300px;
  width: 150px;

  background: yellow;
}