/* CSS declarations go here */

body {
  margin: 0;
  padding: 0;
}

.overlay .right_panel {
  position: absolute;
  display: block;
  right: 0;
  width: 155px;

  background: red;
}

.overlay .right_panel .button {
  width: 120px;
  height: 30px;
  border: 1px solid black;
  border-radius: 15px;
  padding: 5px;
  margin: 10px;  
  background: blue;
}

.overlay .right_panel .button:hover {
  background: #0000DD;
  cursor: pointer;
}

.overlay .left_panel {
  position: absolute;
  display: block;
  left: 0;
  height: 300px;
  width: 150px;

  background: yellow;
}